@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

body {
    background-color: #2a2a2a;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.email-app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;

    > .email-bar {
        display: flex;
        flex-direction: row;
        color: #fff;
        background-color: #333;
        height: 50px;
        align-items: center;
        margin-left: 50px;

        > a {
            color: #fff;
            display: block;
            margin-right: 20px;
        }
    }
    > .email-content {
        display: flex;
        flex-direction: row;
        background-color: #555;
        justify-content: center;
        flex: 1 1 auto;
        padding-top: 20px;

        > .email-border {
            background-color: #fff;
            border: 1px solid #555;
            display: flex;
            flex-direction: row;

            .email-isolate {
                all: initial;
                isolation: isolate;
            }
        }
    }
}
